
<nav class="navbar ">
	<a class="navbar-brand" href="#">StudyHub</a>
		<div class="row">
			<ul class="nav navbar-nav navbar-right nav-list">
			   	<li class="nav-item active">
			      	<a class="nav-link" href="#">Home <span class="sr-only"></span></a>
			    </li>
			    <li class="nav-item">
			     	<a class="nav-link" href="#">About Us</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link" href="/users/sign_in">Sign In</a>
			   	</li>
			   	<li class="nav-item">
			      	<a class="nav-link" href="/users/sign_up">Sign Up</a>
			   	</li>
			</ul>
		</div>
</nav> 

<div class ="row bg-img">
	<div class="bg-gradient">
		<div class="welcome">
			<p class="about-text">StudyHub helps you find study groups within seconds.</p>
			<p class="about-subtext">Find groups at your university today!</p>
			<div class="sign-button">
				<button type="button" class="btn btn-default left-button">Sign Up</button>
				<button type="button" class="btn btn-primary right-button">Sign In</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<center>
		<h2>What We Do</h2>
	</center>
	<div class="info">
		<div class="col-sm-3">
			<p>StudyHub finds you a study group for any class offered at your university.</p>
		</div>
	</div>
</div>

	
	