<div class="container-fluid">
	<nav class="navbar ">
		<a class="navbar-brand"><img src="/assets/Book_Stack.png" class="nav-book"></a>
			<div class="row">
				<ul class="nav navbar-nav navbar-right nav-list">
				   	<li class="nav-item active">
				      	<a class="nav-link" href="#">Home <span class="sr-only"></span></a>
				    </li>
				    <li class="nav-item">
				     	<a class="nav-link" href="#">About Us</a>
				    </li>
				    <li class="nav-item">
				      	<a class="nav-link" href="/users/sign_in">Sign In</a>
				   	</li>
				   	<li class="nav-item">
				      	<a class="nav-link" href="/users/sign_up">Sign Up</a>
				   	</li>
				</ul>
			</div>
	</nav> 

	<div class ="row bg-img">
		<div class="bg-gradient">
			<div class="welcome">
				<p class="about-text">StudyHub helps you find study groups within seconds.</p>
				<p class="about-subtext">Find groups at your university today!</p>
				<div class="sign-button">
					<button type="button" class="btn btn-default left-button">Sign Up</button>
					<button type="button" class="btn btn-primary right-button">Sign In</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<center>
			<h2>What We Do</h2>
		</center>
	</div>

	<div class="row content">	
		<div class="col-sm-4">
			<p class="whatwedo">StudyHub finds you a study group for any class offered at your university. Once you sign up, we come up with a list of possible study groups for you to join based on the class of your request. Join today so we can make your studying easier with just a click of your mouse.</p>
		</div>

		<div class="col-sm-6">
			<ul class="list-unstyled">
				</br></br>
				<li><img src="/assets/juliana.jpg" class="student-icon"><p>"StudyHub helped me find a study group for my Calculus 1 class freshmen year. We all did really well in the class nad became great friends!" - Juliana, Student at the University of Florida</p>
				</li>
				</br>
				<li><img src="/assets/eric.jpg" class="student-icon"><p>"I used StudyHub for my Macroeconomics class. I worked such amazing students I was able to get an A." - Eric, Student at the University of Florida</p>
				</li>
			</ul>
		</div>
	</div>
</div>

	
	