<h1>Hello, <%= @user.name %> <%= @user.last_name %></h1>
<div>
	<%= current_user.major %>
</div>
<a href= "/users/profile/edit">Edit Profile</a>
<a href = "/users/find_groups">Find Groups</a>
<%= link_to "Sign Out", "/users/sign_out" %>