<!DOCTYPE html>
<html>
  <head>
    <title>MyProject</title>
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/1d9ac4a082.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
